body {
    background-color: #121314;
}

body:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
    background: url('../images/javascript-technologies.png') center no-repeat;
    background-size: cover;
}

#webgl-example {
    width: 100%;
    height: auto;
}

input {
    padding: 5px 8px;
    border-radius: 1px;
}

input::placeholder {
    text-transform: uppercase;
    color: rgba(0, 0, 0, .5);
    letter-spacing: 1px;
    font-size: .7em;
}

.js-logo {
    max-width: 150px !important;
    max-height: 150px !important;
    padding: 12px !important;
    height: auto;
}

footer {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 0;
    width: 100%;
    bottom: 16px;
    z-index: 20;
}

footer a {
    color: #42affa;
    font-size: 1.15em;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-decoration: none;
    font-weight: 600;
}

.v-align {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.v-align div {
    margin: 0px 25px;
}