<!DOCTYPE html>
<html lang="fr">

<head>
    <title>JavaScript Elevator Pitch</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Arthur Fauquenot">
    <meta name="description" content="JavaScript presentation in form of a web application made with Node.js, Express.js and Socket.IO">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">

    <!-- build:css -->
    <link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- endbuild -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">

    </div>

    <!-- build:js -->
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- endbuild -->
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>